<div class="card rounded mx-auto d-block mt-5" style="width: 15rem;">
    <img class="card-img-top" src="{{serie?.poster_path}}" alt="serieimg">
    <div class="card-body">
        <h5 class="card-title"><strong>Titulo:</strong> {{serie?.original_title}} </h5>
        <h5 class="card-title"><strong>Estado:</strong> {{serie?.status}} </h5>
        <h5 class="card-title"><strong>Duracion:</strong> {{serie?.runtime}} mns </h5>
        <h5 class="card-title"><strong>Nota:</strong> {{serie?.vote_average}} </h5>
        <h5 class="card-title"><strong>Ver: </strong>  <a href="{{serie?.homepage}}">click para ver</a></h5>
    </div>   
    
</div>
