<div class="card rounded mx-auto d-block mt-5" style="width: 15rem;">
    <img class="card-img-top" src="{{pelicula?.poster_path}}" alt="peliculaimg">
    <div class="card-body">
        <h5 class="card-title"><strong>Titulo:</strong> {{pelicula?.original_title}} </h5>
        <h5 class="card-title"><strong>Estado:</strong> {{pelicula?.status}} </h5>
        <h5 class="card-title"><strong>Duracion:</strong> {{pelicula?.runtime}} mns </h5>
        <h5 class="card-title"><strong>Nota:</strong> {{pelicula?.vote_average}} </h5>
        <h5 class="card-title"><strong>Ver: </strong>  <a href="{{pelicula?.homepage}}">click para ver</a></h5>
    </div>   
    
</div>
